- name: Creating user
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: Dependencies form Java
  ansible.builtin.import_role:
    name: common
    tasks_from: java-setup.yaml

- name: Copying service file
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup.yaml

- name: Ensure Python MySQL driver is installed
  ansible.builtin.pip:
    name: "{{ item }}"
    executable: pip3.9
  loop:
  - cryptography
  - PyMySQL




- name: Restarting service
  ansible.builtin.systemd_service:
    service: "{{ component }}"
    state: restarted
    enabled: yes

