- name: Creating user
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: Dependencies form Java
  ansible.builtin.import_role:
    name: common
    tasks_from: java-setup.yaml

- name: Copying service file
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup.yaml

- name: Ensure Python MySQL driver is installed
  ansible.builtin.pip:
    name: "{{ item }}"
    executable: pip3.9
  loop:
  - cryptography
  - PyMySQL

- name: import shipping data
  community.mysql.mysql_db:
    state: import
    name: all
    login_host: "{{ MYSQL_HOST }}"
    login_user: root
    login_password: RoboShop@1
    target: "{{ item }}"
  loop:
  - /app/db/schema.sql
  - /app/db/app-user.sql 
  - /app/db/master-data.sql

- name: Restarting service
  ansible.builtin.systemd_service:
    service: "{{ component }}"
    state: restarted
    enabled: yes

