- name: copy {{ component }} service
  ansible.builtin.template:
    src: "{{ component }}.service.j2"
    dest: "/etc/systemd/system/{{ component }}.service"
    remote_src: yes

- name: daemon reload
  ansible.builtin.systemd_service:
    daemon_reload: true